@import "../../../layout/variables.scss";

.chatWindow {
  height: auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;

  .singleMessage{
    margin: 10px;
    display: flex;
    flex-direction: row;
  }

  .blockie{
    border-radius: 25px;
  }

  h3 {
    border-bottom: 1px dotted #ffbe44;
    padding-bottom: 5px;
  }

  .dataPoint {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 5px 0;
    width: 100%;

    .value {
      font-weight: bold;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
