@import "../../layout/variables.scss";

.chatContainer {
  padding: 40px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 380px;
  height: auto;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -1px 5px 35px 8px rgba(0,0,0,0.28); 
  box-shadow: -1px 5px 35px 8px rgba(0,0,0,0.28);

  h3 {
    border-bottom: 1px dotted #ffbe44;
    padding-bottom: 5px;
  }

  .dataPoint {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 5px 0;
    width: 100%;

    .value {
      font-weight: bold;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.networkName {
  font-size: small;
}